<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  
  <title>Document</title>
</head>
<body>
  
  <div id="app">

    <header></header>

    <main class="chatbox">

      <!-- COL-LEFT -->
      <section class="col-left">

        <!-- COL-LEFT - NOME UTENTE -->
        <div class="nome-utente">

          <div class="nome-utente-sx">
            <img src="img/avatar_1.jpg" alt="">
            <span>Nome Utente</span>
          </div>
          
          <div class="nome-utente-dx">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </div>
        <!-- /COL-LEFT - NOME UTENTE -->


        <!-- COL-LEFT - NOTIFICHE -->
        <div class="notifiche">

          <div>
            <i class="fa-solid fa-bell-slash"></i>
          </div>

          <div>
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <p class="notifiche-desktop">Attiva notifiche desktop</p>
          </div>

        </div>
        <!-- /COL-LEFT - NOTIFICHE -->


        <!-- COL-LEFT - RICERCA -->
        <div class="ricerca">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input v-model="" type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
        <!-- /COL-LEFT - RICERCA -->


        <!-- COL-LEFT - CONTATTI -->
        <div class="contatti  full">

          <div class="contatto">

            <div class="contatto-logo">
              <img src="img/avatar_3.jpg" alt="">
            </div>

            <div class="contatto-info">

              <h3>
                <span>Michele</span>
                <span class="contatto-data">20/20/2020 20:20:20</span>
              </h3>

              <p>Tutto fatto!</p>

            </div>
            

          </div>

          <div class="contatto">

            <div class="contatto-logo">
              <img src="img/avatar_3.jpg" alt="">
            </div>

            <div class="contatto-info">

              <h3>
                <span>Michele</span>
                <span class="contatto-data">20/20/2020 20:20:20</span>
              </h3>

              <p>Tutto fatto!</p>

            </div>
            

          </div>
         
          
        </div>
        <!-- /COL-LEFT - CONTATTI -->

      </section>
      <!-- /COL-LEFT -->


      <!-- COL-RIGHT -->
      <section class="col-right">

        <!-- COL-RIGHT - UTENTE CHAT -->
        <div class="utente-chat">

          <div class="utente-immagine">
            <img src="img/avatar_2.jpg" alt="">
          </div>
          
          <div class="utente-accesso">
            <h3>Luisa</h3>
            <p>ultimo accesso oggi alle</p>
          </div>

          <div class="utente-allegati">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </div>
        <!-- /COL-RIGHT - UTENTE CHAT -->


        <!-- /COL-RIGHT - CHATZONE -->
        <div class="chatzone debug-green full">
          
          <div class="messaggio sent">

            <div class="messaggio-testo">ciao  bello de casa</div>
            <div class="messaggio-data">20/20/2020 20:00:00</div>

          </div>

          <div class="messaggio received">

            <div class="messaggio-testo">ciao bello de casa</div>
            <div class="messaggio-data">20/20/2020 20:00:00</div>

          </div>

        </div>
        <!-- /COL-RIGHT - CHATZONE -->
        

        <!-- COL-RIGHT - CHATZONE -->
        <div class="chatbar">
          <i class="fa-regular fa-face-smile"></i>
          <input v-model="" type="text" placeholder="Scrivi un messaggio">
          <i class="fa-solid fa-microphone"></i>
        </div>
        <!-- /COL-RIGHT - CHATZONE -->
        
      </section>
      <!-- /COL-RIGHT -->

    </main>

    <footer></footer>

    <script src="js/script.js"></script>

  </div>

</body>
</html>